// colors
$bg-color: #f7f8f8;
$logo-gradient1-color: #22c5b8;
$logo-gradient2-color: #4c9bbf;

// mixins
@mixin center {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

@mixin pseudo($position: absolute, $content: "") {
    content: $content;
    position: $position;
}

@mixin breakpoint($point) {
    @if $point==tablet {
        @media (max-width: 1024px) and (min-width: 768px) {
            @content ;
        }
    }
    @else if $point==mobile {
        @media (max-width: 480px) and (min-width: 320px) {
            @content ;
        }
    }
}

html, body{
  width: 100%;
  height: 100%;
}

body{
  background: $bg-color;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  .square{
    position: relative;
    width: 49vmin;
    height: 49vmin;
    background: red;
    transform: rotate(45deg);
    border-radius: 3vmin;
    background: linear-gradient(135deg, $logo-gradient1-color, $logo-gradient2-color);

    .circle-1{
      position: absolute;
      background: blue;
      width: 8vmin;
      height: 8vmin;
      background: $bg-color;
      border-radius: 50%;
      bottom: 7.3vmin;
      left: 14vmin;

      &:before{
        @include pseudo;
        width: 7vmin;
        height: 7vmin;
        background: $bg-color;
        border-radius: 50%;
        bottom: 22.05vmin;
        left: -4.55vmin;
      }  
    }    

    .circle-2{
      position: absolute;
      background: blue;
      width: 6vmin;
      height: 6vmin;
      background: $bg-color;
      border-radius: 50%;
      top: 21.1vmin;
      right: 7.6vmin;

      &:before{
        @include pseudo;
        width: 6vmin;
        height: 6vmin;
        background: $bg-color;
        border-radius: 50%;
        bottom: 14.5vmin;
        right: 9.7vmin;
      }  
    } 
  }

  .line-1{
    @include center;
    transform: rotate(32.8deg);
    top: -7vmin;
    left: -14vmin;
    width: 2.1vmin;
    height: 56.5vmin;
    background: $bg-color;

    &:before{
      @include pseudo;
      transform: rotate(-23.6deg);
      top: -3.5vmin;
      left: 21vmin;
      width: 2.1vmin;
      height: 56.5vmin;
      background: $bg-color; 
    }

    &:after{
      @include pseudo;
      transform: rotate(80deg);
      top: -13.6vmin;
      left: 11vmin;
      width: 2.1vmin;
      height: 56.5vmin;
      background: $bg-color; 
    }
  } 

  .line-2{
    @include center;
    transform: rotate(67deg);
    top: -0.5vmin;
    left: 1vmin;
    width: 2.1vmin;
    height: 56.5vmin;
    background: $bg-color;

    &:before{
      @include pseudo;
      transform: rotate(34.5deg);
      top: 5.8vmin;
      left: 5.4vmin;
      width: 2.1vmin;
      height: 60vmin;
      background: $bg-color; 
    }  

    &:after{
      @include pseudo;
      transform: rotate(78.3deg);
      top: 11.6vmin;
      left: 5.4vmin;
      width: 2.1vmin;
      height: 60vmin;
      background: $bg-color; 
    }
  }
}

